html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #283149;
}

.set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 10px;
}

.drum {
  flex: 1 0 30%;
  max-width: 30%;
  aspect-ratio: 1/1;
  font-size: 2rem;
  border: 5px solid #404B69;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: #DA0463;
  text-shadow: 2px 0 #DBEDF3;
  font-family: 'Arvo', cursive;
}

@media (max-width: 480px) {
  .drum {
    flex: 1 0 45%;
    max-width: 45%;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

h1 {
  font-size: 3rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
  margin: 1rem 0;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  padding-bottom: 10px;
}


.w {
background-image: url("images/tom1.png");
}

.a {
background-image: url("images/tom2.png");
}

.s {
background-image: url("images/tom3.png");

}

.d {
background-image: url("images/tom4.png");

}

.j {
background-image: url("images/snare.png");

}

.k {
background-image: url("images/crash.png");

}

.l {
background-image: url("images/kick.png");

}